<!-- TEMPLATE LANGUAGE -->
<!--Book_list.html -->
<h1> Book List </h1>
<ul>
    {% for book in book_list %}
        <li> {{book.title}} by {{book.author}}</li>
    {% endfor %}
</ul>

<!-- TEMPLATE INHERITANCE -->
 <!-- base.html -->
<html>
    <head>
        <title>
            {% block title %} My site {% endblock %}
        </title>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>
<!-- book_list.html -->
 {% extends "base.html" %}
 {% block title %} Book List {% endblock %}
 {% blockcontent %}
    <h1>
        Book List
    </h1>
    <ul>
        {% for book in book_list %}
            <li>{{book.title}} {{book.author}}</li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- base.html -->
 <!DOCTYPE html>
 <html lang="en">
    <head>
         <meta charset="UTF-8">
         <title>{% block title %} MY SITE {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- Content -->
         <script src = "{% static 'js/script.js'%}"></script>
    </body>
 </html>